# Python junk
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# macOS / Windows junk
.DS_Store
Thumbs.db

# Testing / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Docs build output
docs/_build/

# Ignore everything inside examples by default
examples/**

# But keep the examples folder itself
!examples/

# Keep only selected public example folders
!examples/nanoclusters/
!examples/rh_complex/

# Keep only clean public files inside those examples

!examples/nanoclusters/config.py
!examples/nanoclusters/run.py
!examples/nanoclusters/prepare.py

!examples/rh_complex/config.py
!examples/rh_complex/run.py
!examples/rh_complex/prepare.py
!examples/rh_complex/round2.py
!examples/rh_complex/*.sdf